@model IEnumerable<LuxMobile.Models.Services>
@{

}
@using Microsoft.AspNetCore.Identity
@using LuxMobile.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4">About <span>Us.</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="text">
                        <h2>Easy Online Booking</h2>
                        <p>You can now easily book your appointments here.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-cashback"></span>
                    </div>
                    <div class="text">
                        <h2>Worth Every Penny</h2>
                        <p>Luxurious, Safe, and always Sanitized.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-free-delivery"></span>
                    </div>
                    <div class="text">
                        <h2>Barbershop at your doorstep!</h2>
                        <p>Bookings are aceepted anywhere in Metro Manila.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb" id="services">
    <div class="container">

        @if (SignInManager.IsSignedIn(User))
        {
            @if (@UserManager.GetUserName(User).ToString() == "gilbertcoquilla" || @UserManager.GetUserName(User).ToString() == "biancaongkingco" || @UserManager.GetUserName(User).ToString() == "shirleypaz")
            {
                <h2 style="text-align: center" href="https://localhost:44367/Service/Index">List of Services</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ServiceName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                <a asp-action="Create">
                                    <input type="submit" value="Add" class="btn btn-primary" />
                                </a>
                            </th>
                        </tr>

                    </tbody>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ServiceNo">Edit</a> |
                                    @*<a asp-action="Details" asp-route-id="@item.ServiceNo">Details</a> |*@
                                    <a asp-action="Delete" asp-route-id="@item.ServiceNo" onclick='return confirm("Are you sure?");'>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            else
            {
                <h2 style="text-align: center" >Available Services</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ServiceName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                        </tr>

                    </tbody>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ServiceName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        }
        else
        {
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @*<a asp-action="Create">
                                <input type="submit" value="Add" class="btn btn-primary" />
                            </a>*@
                        </th>
                    </tr>

                </tbody>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>

                                <!--<a asp-action="Edit" asp-route-id="@item.ServiceNo">Edit</a> |-->
                                @*<a asp-action="Details" asp-route-id="@item.ServiceNo">Details</a> |*@
                                <!--<a asp-action="Delete" asp-route-id="@item.ServiceNo" onclick='return confirm("Are you sure?");'>Delete</a>-->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</section>

<section class="ftco-section" id="barbers">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Barbers</span>
                <h2>Know the specialtiy of our barbers</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
                <div class="blog-entry d-flex">
                    <a class="block-20 img" style="background-image: url('https://i.ibb.co/BZS6V2q/jean.jpg');">
                    </a>
                    <div class="text p-4 bg-light">
                        <h3 class="heading mb-3">Jean</h3>
                        <p>Specializes in head shave, cut and design. Have the ability to stand for long periods of time.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
                <div class="blog-entry d-flex">
                    <a class="block-20 img" style="background-image: url('https://i.ibb.co/dMy7Q3B/king.jpg');">
                    </a>
                    <div class="text p-4 bg-light">
                        <h3 class="heading mb-3">Mark</h3>
                        <p>Specialized more in razor fades, and massages. Manual dexterity and strength </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
                <div class="blog-entry d-flex">
                    <a class="block-20 img" style="background-image: url('https://i.ibb.co/BrRTt2Z/mark.jpg');">
                    </a>
                    <div class="text p-4 bg-light">
                        <h3 class="heading mb-3">Bart</h3>
                        <p>Specialized more in face shaves, beard trims, facial massages. Finger dexterity </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('https://i.ibb.co/cYGF77n/luxmob.jpg'); ">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                <div class="heading-section">
                    <span class="subheading">Since 2001</span>
                    <h2 class="mb-4">How We Started</h2>
                    <p>
                        Lux Mobile Barbershop is like an uber, but for haircuts. It was founded by Jean Karanji,
                        he invited his barber friends to join him in giving free haircuts to homeless people.
                        As the demand rises they decided to turn it into a business.
                    </p>
                    <p>
                        On 2001, the company started in Poblacion, Makati. On December 2020 with an old coaster,
                        they turned it into a mobile barbershop. Now you can stay at home and book your haircut at your doorstep.
                    </p>
                    <p class="year">
                        <strong class="number" data-number="20">0</strong>
                        <span>Years of Experience In Barbery</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading"></span>
            <a href="https://localhost:44367/Service/Booking"><h3>Click Me To Book Now!</h3></a>
        </div>
    </div>
</section>