@model IEnumerable<LuxMobile.Models.Appointment>
@{

}
@using Microsoft.AspNetCore.Identity
@using LuxMobile.Models


<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4">Booked <span>Appointments.</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section " id="bookedlist">
    <div class="container">
        <h2 style="text-align: center">Schedule</h2>

                <table class="table" style="text-align: left">
                    <tbody>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.AppointmentNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AccountName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AccountNumber)
                            </th>
                            <th>
                               Barber
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BookingDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                Services
                            </th>
                            <th>
     
                            </th>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PaymentMethod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </th>
                        </tr>

                    </tbody>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr> 
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmentNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BarberName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Service1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Service2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Service3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPrice)
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>

       

    </div>
</section>
